@model HourEntry.Web.Models.TimeSheetModel
@{
    ViewBag.Title = "TimeSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Time Sheet</h2>
@using (Html.BeginForm())
{ 

    @Html.DropDownListFor(m => m.AmPm, ViewBag.AmPmList as List<SelectListItem>);
                                          
    @Html.EditorFor(m => m.Comments);

    @Html.EditorFor(m => m.StartDate);
    @Html.EditorFor(m => m.EndDate);
}
